.waitinf{
    z-index: 2000000;
   position: fixed;
    top: 0;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    background: rgba(0,0,0,.5);
}
.waitinf img{
margin-top: 20%;
}
#alertDiv,#alert-div{
    z-index: 25000;
    display: none;
    position: fixed;
    top: 55px;
    left: 50px;
    box-shadow: 1px 2px 20px 0 rgba(251, 255, 231, 0.6);
}
.alert-danger{
    background-color: #c0392b;
    color: #FFFFFF;
}
.fieldset{
    border: 1px solid #c2c2c2;
    margin: 12px;
} .fieldset .legend{
    width: auto;
    padding: 8px;
    border:0;
    margin-bottom: 0;
}
  .fas.fa-sync.fa-spin{
      color: #FFFFFF;
      position: absolute;
      font-size: 26px;
      top: 50%;
  }
.alert-success {
    color: #d6e9c6;
    background-color: #3c763d;
}